/* styles.css */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Pone el video en el fondo */
  object-fit: cover;
  will-change: transform;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 50px;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fondo oscuro para mejorar la legibilidad del texto */
}

.audio-message {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
